.title {
  font-weight: 900;
  margin-bottom: 20px;
}

.button-group {
  margin-top: calc(var(--size-bezel) * 2.5);
}

.icon {
  display: inline-block;
  width: 1em; height: 1em;
  margin-right: .5em;
}