# Игнорировать папку node_modules и ее содержимое
node_modules/

# Игнорировать временные файлы и кэши npm
.npm/
.nyc_output/
package-lock.json

# Игнорировать файлы конфигурации, содержащие секреты
.env
.env.local

# Игнорировать файлы логов
*.log
