:root {
  --color-light: white;
  --color-dark: #212121;
  --color-signal: #fab700;
  --color-green: #39a20b;
  
  --color-background: var(--color-light);
  --color-text: var(--color-dark);
  --color-accent: var(--color-signal);
  
  --size-bezel: .5rem;
  --size-radius: 4px;
  
  line-height: 1.4;
  
  font-family: 'Inter', sans-serif;
  font-size: calc(.6rem + .4vw);
  color: var(--color-text);
  background: var(--color-background);
  font-weight: 300;
  padding: 0 calc(var(--size-bezel) * 3);
}

body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

button {
     background: none;
     border: none;
     padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  padding: 0;
  margin: 0;
}

#app {
  height: 100%;
  font-family: sans-serif;
}

.container {
  height: 100%;
  position: relative;
}

.main {
  background: var(--color-background);
  padding: calc(4 * var(--size-bezel));
  margin-top: calc(4 * var(--size-bezel));
  border-radius: var(--size-radius);
  border: 3px solid var(--color-shadow, black);
  box-shadow: .5rem .5rem 0 var(--color-shadow, black);
}

.button {
  color: black;
  padding: var(--size-bezel) calc(var(--size-bezel) * 2);
  background: var(--color-accent);
  border: none;
  border-radius: var(--size-radius);
  font-weight: 900;

  &:hover {
    cursor: pointer;
  }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.popup-overlay {
  background: rgba(128, 111, 111, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);
}