.chooseBrand {
  

  &__button-section {
    margin-top: var(--size-bezel);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}